body{
   width:95vw;
   height:100vw;
   margin-left:2.5vw;
   margin-right:2.5vw;
   background-color:white;
}
.header{
font-size:70px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
color:grey;
text-align:center;
}
.leftpanel{
    width:70%;
}
.rightpanel{
    position:absolute;
    top:0px;
    left:70%;
    width: 25%;
    height:99%;
    overflow-y: auto;
    color:#b2aba6;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    border-left-width: 5px;
    border-left-color: grey;
    border-left-style: solid;
    padding-left:8px;
}
.article{
    display: table;
    margin-top:10px;
    margin-bottom:10px;
    height:99vh;
    background-color:#fff5ee;
    line-height: 20px;
    text-align: center;
    border: 2px dashed #f69c55;
    padding-left:10px;
    padding-right:10px;
}
#1{
    height: calc(99% - 80px);
}
span {
  display: table-cell;
  vertical-align: middle;
}

/* unvisited link */
a:link {
    color: #8e9499;
}

/* visited link */
a:visited {
    color: #d6dfe5;
}

/* mouse over link */
a:hover {
    color: #474a4c;
}

/* selected link */
a:active {
    color: #000000;
}
.footer{
    position:static;
    width:100vw;
    text-align:center;
}
.wrapper{
    display:table;
    position:relative;
    width:100%;
}